extends layout.pug

block content
  .my-3.mx-5.container
        h2.my-3.text-center Job Application
        form.my-4.mx-5(action='/contacts' method='post' enctype='multipart/form-data')
          .row.mb-3
            label.col-sm-2.col-form-label(for='Myname') Name:
            .col-sm-10
              input#Myname.form-control(type='text' name='name' required)
          .row.mb-3
            label.col-sm-2.col-form-label(for='Myemail') Email:
            .col-sm-10
              input#Myemail.form-control(type='email' name='email' required)
          .row.mb-3
            label.col-sm-2.col-form-label(for='Myphone') Phone No. :
            .col-sm-10
              input#Myphone.form-control(type='tel' name='phone' required)
          .row.mb-3.custom-file
            label.col-sm-2.col-form-label(for='img') Profile Image:
            .col-sm-10
              input#img.custom-file-input(type='file' name='image' accept='image/png, image/jpeg' required)
          .row.mb-3
            label.col-sm-2.col-form-label(for='pfile') Resume:
            .col-sm-10
              input#pfile.custom-file-input(type='file' name='file' accept='.pdf' required)
          .row.mb-3
            label.col-sm-2.col-form-label(for='job') Applying for:
            .col-sm-10
              select#job.form-select(name='jobType' aria-label='Default select example' required)
                option(value='Intern Software Developer') Intern Software Developer
                option(value='Junior Software Developer') Junior Software Developer
                option(value='Senior Software Developer') Senior Software Developer
                option(value='Product Manager') Product Manager
                option(value='Project Lead') Project Lead
          fieldset.row.mb-3
            label.col-form-label.col-sm-2.pt-0(for='res') Do you currently reside in Goa?
            .col-sm-10
              .form-check.form-check-inline
                input#res.form-check-input(type='radio' name='reside' value='Yes')
                label.form-check-label(for='gridRadios1')
                  | Yes
              .form-check.form-check-inline
                input#res.form-check-input(type='radio' name='reside' value='No')
                label.form-check-label(for='gridRadios2')
                  | No
          .text-center
            button.btn.btn-primary(type='submit') Submit
            button.btn.btn-danger.mx-3(type='reset') Reset
block append script
  script(src='/js/index.js')
