doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    title Search User
  body
    .my-3.mx-5.container
      h2.my-3.text-center.text-info Search User Details
      form#userForm.my-4.mx-5
        .row.mb-3
          label.col-sm-2.col-form-label(for='Myemail') Email:
          .col-sm-10
            input#Myemail.form-control(type='email' name='email' required)
        .text-center
          button#subBtn.btn.btn-primary(type='submit') Submit
    #divDis.container.my-5(style='display:none;')
      h4.text-center.text-info User list
      table#data.table.table-striped.my-5
        thead
          tr
            th(scope='col') Name
            th(scope='col') Email
            th(scope='col') Phone
            th(scope='col') Job
            th(scope='col') Reside
        tbody#tab
    #divErr.container.my-5(style='display:none;')
      p.text-danger.fs-2(style='margin-left: 373px;') USER NOT FOUND
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/static/ajaxPost.js')
